.text-align{
    text-align: center;
}
.calculator {
    background: rgb(240, 240, 240);
    padding: 15px;
    border-radius: 12px;
}

.display {

    background-color: rgb(30, 30, 30);
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.btn {
    background: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
    border-radius: 8px;
}

.operator {
    background: rgb(255, 165, 0);
    color: white;
}

.equal {
    background: rgb(76, 175, 80);
    color: white;
}

.clear {
    background: rgb(244, 67, 54);
    color: white;
}
